<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>
<hr>
<br>
<a th:href="@{/users/new}">CREATE NEW USERS</a>
<br>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">UPDATE</a>
<br>
<a th:href="@{/users}">GET ALL USERS</a>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete user">
</form>
</body>
</html>