<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<p th:text="${user}">VALUE</p>
<br>
<a th:href="@{/users/new}">Create new user</a>
<br>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Update user</a>
<br>
<a th:href="@{/users}">Get all users</a>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete user">
</form>
</body>
</html>